<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MahAppsWpf1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MahAppsWpf1.Properties.Settings>
            <setting name="BooksFilePath" serializeAs="String">
                <value>D:\Temp\Books test</value>
            </setting>
            <setting name="BooksFileName" serializeAs="String">
                <value>BooksReadToDate16.csv</value>
            </setting>
            <setting name="CountriesFilePath" serializeAs="String">
                <value>D:\Temp\Books test</value>
            </setting>
            <setting name="CountriesFileName" serializeAs="String">
                <value>Countries2.csv</value>
            </setting>
        </MahAppsWpf1.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MahApps.Metro" publicKeyToken="f4fb5a3c4d1e5b4f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>